@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3, h4, h5, h6 {
  font-family: 'Syne', serif;
  font-weight: 700;
}
@layer base {
  h1 {
    @apply font-bold text-5xl sm:text-4xl md:text-6xl lg:text-7xl;
  }
  h2 {
    @apply text-4xl sm:text-3xl md:text-5xl;
  }
  h3 {
    @apply text-3xl sm:text-2xl md:text-4xl;
  }
  h4 {
    @apply text-2xl sm:text-xl md:text-3xl;
  }
  p {
    @apply text-sm md:text-[16px] lg:text-lg;
  }
  body {
    @apply bg-[#1A1A1A] text-white;
  }
  :root {
    --background: #1A1A1A;
    --foreground: #FFFFFF;
  }
}
